* {
    margin: 0;
    padding: 0
}



/* atributos tipografia barra nav */
ul li a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
}

/* box-modeling */
li {
    width: 120px;
    height: 120px;
    border: solid 1px black;
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    display: inline;
}
a:hover {color: white;}

li:hover {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

li:active {
    width: 120px;
    height: 120px;
    background-color: #f10086;
    border-radius: 5px;
    padding: 5px;

}

/* estilo barra busqueda */
.busqueda {
    width: 150px;
    height: 20px;
    margin: 30px;
    padding: 5px;
    display: inline;
}


/* estilo iconos profile y compras */

.iconos {
    width: 30px;
    height: 30px;
    margin: 15px;
    padding: 5px;
    display: inline;
}




/* estilo pie todas las paginas */
.pie {
    color: rgb(66, 64, 64);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.logoig {
    padding: 5px;
    width: 30px;
    height: 30px;
}

/* flex header todas las paginas */

.iconos-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: nowrap;
}

/* flex header pagina home */

.inline {
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

/* footer todas las paginas */

.footer {
    margin: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* texto e imagen producto pagina prodotto */

main {
    color: rgb(66, 64, 64);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 50px;
}

.img-prodotto {
    width: 500px;
    height: 500px;
    margin: 20px;
}

/* grid pagina home */
.tittle-grid {
    color: #f10086;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}


/* grid areas pagina contatto */
.tittle-grid-contatto {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

#grid-container-contatto {
    width: 90%;
    max-width: 100%;
    margin: 15px auto;
    padding: 20px;

    display: grid;
    grid-template-areas:
        "h1       section"
        "div      section";
    grid-template-columns: 2fr 3fr;
    justify-items: center;
    align-items: initial;
}

/* pagina contatto tipografia. margin */

.estilo {
    width: 90%;
    max-width: 100%;
    margin: 15px auto;
    padding: 20px;
}

.estilo-2 {
    margin: 20px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}

.card-img {
    width: 40%;
}

/* carrousel pagina noi */

#carouselExampleDark {
    width: 60%;
    margin: auto;
    padding: 10px;
}

.card-titulo {padding: 10px;
margin-top: 10px;}

.card-texto {
    
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    }



/* responsive mobile con mediaqueries */
@media screen and (max-width: 576px) {


li {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    
    width: 55px;
    height: 20px;
    border: solid 1px black;
    background-color: rgb(215, 215, 215);
    margin: 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
}


a:hover {color: white;}

li:hover {
    width: 55px;
    height: 20px;
    background-color: black;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}

li:active {
    width: 55px;
    height: 20px;
    background-color: #f10086;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;}


.busqueda {
    width: 70px;
    height: 10px;
    margin: 15px;
    padding: 3px;
    display: inline;
}


.iconos {
    width: 20px;
    height: 20px;
    margin: 7px;
    padding: 3px;
    display: inline;
}

.card-img {
    width: 40%;
}

.card-img2 {
    width: 20%;
}



.tittle-grid {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    text-align: center;
    margin: 20px;
}

.grid-container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

.grid-container>div {
    padding: 10px;
}

.footer {
    margin: 25px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.pie {
    color: rgb(66, 64, 64);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
}

.logoig {
    padding: 3px;
    width: 15px;
    height: 15px;
}

/* grid areas para mobile 

#mobile {
    margin: 30px;
    display: grid;
    grid-template-areas:
        "nav "
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 7% 60% 10%;
}

nav { grid-area: nav;
}

 main { grid-area: main;
    margin: 10px;
}

 footer { grid-area: footer;
}

header { grid-area: header;
}
*/

#cerca { width: 50%;
height: 20px;}



.card-titulo {
    margin: 5px;
    padding: 5px;
    font-size: 14px;

}
.card-texto {
    
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    }



}
