/* $estilosgenerales */

/* barra nav atributos tipografia */
ul li a {
    font-family: 100% $font-stack;
    color: $primary-color;
    text-decoration: none;
    text-align: center;
}

/* barra nav box-modeling */
li {
    width: 120px;
    height: 120px;
    border: solid 1px black;
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    display: inline;
}

/* barra busqueda estilo */
.busqueda {
    width: 150px;
    height: 20px;
    margin: 30px;
    padding: 5px;
    display: inline;
}

/* iconos profile y compras estilo */

.iconos {
    width: 30px;
    height: 30px;
    margin: 15px;
    padding: 5px;
    display: inline;
}