* {
    margin: 0;
    padding: 0
}

/* Atributos tipografia barra nav */
ul li a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

/* Box-modeling */
li {
    width: 100%;
    height: 100%;
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
    display: inline;
}

.nav-link:hover {
    color: white;
}




li:hover {
    background-color: #f10086;
    border-radius: 10px;
    padding: 3px;
}


li:active {
    background-color: black;
    border-radius: 10px;
    padding: 3px;

}

.logoig:hover {
    background-color: #f10086;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

/* Estilo barra busqueda */
.form-control {
    margin: 13px;
    height: 50%;
    display: inline;

}

/* Estilo iconos profile y compras */

.iconos {
    width: 30px;
    height: 30px;
    margin: 15px;
    padding: 5px;
    display: inline;
    cursor: pointer;
}

/* Estilo pie todas las paginas */
.pie {
    color: rgb(66, 64, 64);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.logoig {
    margin: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
}


/* Footer todas las paginas */

.footer {
    margin: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* Texto e imagen producto pagina prodotto */

main {
    color: rgb(66, 64, 64);
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

.img-prodotto {
    width: 500px;
    height: 500px;
    margin: 20px;
}

/* Grid pagina home */
.tittle-grid {
    color: #f10086;
    font-family: 'Comfortaa', cursive;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}


/* Grid areas pagina contatto */
.tittle-grid-contatto {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.grid-container-contatto {
    width: 90%;
    max-width: 100%;
    margin: 15px auto;
    padding: 20px;

    display: grid;
    grid-template-areas:
        "h1       section"
        "div      section";
    grid-template-columns: 2fr 3fr;
    justify-items: center;
    align-items: initial;
}

/* Pagina contatto tipografia. margin */

.estilo {
    width: 90%;
    max-width: 100%;
    margin: 15px auto;
    padding: 20px;
}

.estilo-2 {
    margin: 20px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}

.card-img {
    width: 100%;
}

/* Carrousel pagina noi */

#carouselExampleIndicators {
    width: 60%;
    margin: auto;
    padding: 10px;
}

.card-titulo {
    color: #f10086;
    padding: 10px;
    margin-top: 10px;
    font-size: 28px;
}

.card-texto {
    color: rgb(47, 47, 47);
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    background-color:  rgb(215, 215, 215);
}

.texto-pag-saldi {
    margin-top: 3px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 25px;
}

.card-text {
    color: #f10086;
}

#carouselExampleDark2 {
    margin: 1px;
    padding: 1px;
    width: 100%;
}

.card-title {
    cursor: pointer;
}




/* Responsive mobile con mediaqueries */
@media screen and (max-width: 576px) {


    li {
        width: 100%;
        height: 100%;
        background-color: rgb(215, 215, 215);
        border-radius: 5px;
        margin: 5px;
        padding: auto;
        display: inline;
    }

    .form-control {
        margin: auto;
        height: 50%;
        display: inline;
    }


    .iconos {
        width: 20px;
        height: 20px;
        margin: 7px;
        padding: 3px;
        display: inline;
    }

    .card-img {
        width: 50%;
    }


    .tittle-grid {
        font-family: 'Comfortaa', cursive;
        font-size: 14px;
        text-align: center;
        margin: 20px;
    }


    .footer {
        margin: 25px;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .pie {
        color: rgb(66, 64, 64);
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        text-align: center;
    }

    .logoig {
        padding: 3px;
        width: 25px;
        height: 25px;
    }


    #cerca {
        width: 50%;
        height: 20px;
    }



    .card-titulo {
        margin: 5px;
        padding: 5px;
        font-size: 16px;

    }

    .card-texto {
        color: rgb(47, 47, 47);
        margin: 10px;
        padding: 5px;
        font-size: 14px;
        text-align: center;
        background-color:  rgb(215, 215, 215);
    }

    /* Responsive mobile pagina Contatto CON FLEX */

    .tittle-grid-contatto {
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        text-align: center;
        margin: 3px;
        padding: 3px;
    }

    .grid-container-contatto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .estilo {
        width: 70%;
        max-width: 70%;
        margin: 3px;
        padding: 3px;
    }

    .estilo-2 {
        margin: 3px;
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        text-align: center;
    }

    .areatexto {
        width: 100%;
        height: 50%;

    }

    .map {
        width: 100%;
        height: 50%;
    }

    /* Responsive pagina saldi texto */
    .texto-pag-saldi {
        margin: 25px;
        padding: 10px;
    }

}