/* $estilosgenerales */

/* mapa nav */
$navbar: (
    color: white,
    radio: 5px,
    cursor: pointer,
    decoration: none,
    padding: 3px
);

/* Nesting barra nav atributos tipografia y box modeling */
ul li a {
    font-family: 100% $font-stack;
    color: $primary-color;
    text-decoration: map-get($map: $navbar, $key: decoration);
    cursor: map-get($map: $navbar, $key: cursor);
    text-align: center;


    li {
        width: 100%;
        height: 100%;
        background-color: rgb(215, 215, 215);
        border-radius: map-get($map: $navbar, $key: radio);
        margin: 15px;
        padding: map-get($map: $navbar, $key: padding);
        display: inline;
    }
}




/* iconos profile y compras estilo */

.iconos {
    width: 30px;
    height: 30px;
    margin: 15px;
    padding: map-get($map: $navbar, $key: padding);
    display: inline;
    cursor: pointer;
}



/* barra nav responsive mobile con mediaqueries */
@media screen and (max-width: 576px) {
    li {
        width: 100%;
        height: 100%;
        background-color: rgb(215, 215, 215);
        border-radius: 5px;
        margin: 5px;
        padding: auto;
        display: inline;
    }

    .form-control {
        margin: auto;
        height: 50%;
        display: inline;
    }

    .iconos {
        width: 20px;
        height: 20px;
        margin: 7px;
        padding: 3px;
        display: inline;
    }


}