

/* grid pagina home */
.tittle-grid {
    color: $secondary-color;
    font-family: $font-stack2;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.card-img {
    width: 100%;
}



/* responsive mobile con mediaqueries Pag Home*/
@media screen and (max-width: 576px) {

    .card-img {
        width: 50%;
    }
    

.tittle-grid {
    font-family: $font-stack2;
    font-size: 22px;
    text-align: center;
    margin: 20px;
}

}